@*@model IEnumerable<Caveret.Models.Stock>*@
@model PaginatedList<Caveret.Models.Stock>
@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Stocks</h1>
</header>


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            @*<a asp-action="Index">Back to Full List</a>*@
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<div class="row" style="        display: flex; justify-content: center;">
    <div class="text-center stat-card col-md-6" style="width: 600px;">

        <canvas id="Stock-Per-Category-text"></canvas>
        @*<h2 class="ma-2">Stock Per Category</h2>*@
        <div id="stock-per-catagories"></div>
    </div>
    <div class="text-center stat-card col-md-6" style="width: 600px;">
        <canvas id="Possible-Income-Per-Category-text"></canvas>
        @*<h2 class="ma-2">Possible Income Per Category</h2>*@
        <div id="maximum-profit-category"></div>
    </div>
</div>
@*<div class="row" style="display: flex;">
    Income Product By Category :
</div>*@
@*@foreach (var category in ViewData["catagories"] as List<Catagories>)
{*@
    
    @*<div class="row justify-content-center" style="display: flex;">*@


        <!--<div class="card col centerItem">
            <div class="card-body text-center stat-card">-->
                @*<h2 class="mt-2">@category.catagorieName</h2>*@
                <!--<div id="catgory-Products"></div>
            </div>
            <div class="card-footer">-->
                @*<form>
                    <select name="queryId" class="form-control" asp-items="@ViewBag.catagories"></select>
                </form>*@
            <!--</div>
        </div>-->

    @*</div>
}*@
    <style>

        .centerItem {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>

    <script src="~/js/app.js"></script>


    @*@foreach (var cat in ViewData["catagories"] as List<Catagories>)
        {
            <script type="text/javascript">
                $.ajax({
                    url: "/Stocks/CategoryProfit?category=" + cat.id,
                    context: document.body
                }).done(function (data) {
                    create_type_pie_chart(data, "#catgory-" + cat.id);
                });
            </script>
        }*@
    <script type="text/javascript">
        function profitCategory(id) {
            //$.ajax({
            //    url: "/Stocks/CategoryProfit?category=" + id,
            //    context: document.body
            //}).done(function (data) {
            //    create_type_pie_chart(data, "#catgory-" + id);
            //});
        }

        var c = document.getElementById("Stock-Per-Category-text");
        var ctx = c.getContext("2d");
        ctx.font = "24px Arial";
        ctx.fillText("Stock Per Category", 10, 50);

        c = document.getElementById("Possible-Income-Per-Category-text");
         ctx = c.getContext("2d");
        ctx.font = "24px Arial";
        ctx.fillText("Possible Income Category", 10, 50);
        

        $.ajax({
            url: "/Stocks/StocksByCategories",
            context: document.body
        }).done(function (data) {
            create_type_pie_chart(data, "#stock-per-catagories");
        });

        $.ajax({
            url: "/Stocks/PossibleMaxCategory",
            context: document.body
        }).done(function (data) {
            console.log(data);
            create_type_pie_chart(data, "#maximum-profit-category");
        });


        //$.ajax({
        //    url: "/Stocks/CategoryProfit",
        //    context: document.body
        //}).done(function (data) {
        //    console.log(data);
        //    var listCate = [];
        //    var previousId = null;
        //    for (var i = 0; i < data.length; i++) {
        //        if (previousId == null) {
        //            previousId = data[i].id;
        //            listCate = [];
        //        }
        //        if (previousId != data[i].id) {

        //            console.log(listCate)
        //            create_type_pie_chart(listCate, "#catgory-" + previousId);
        //            previousId = data[i].id;
        //            listCate = []
        //        }
        //        listCate.push({ "categoryName": data[i].categoryName, "stocks": data[i].stocks });
        //    }

        //});



    </script>

