@*@model IEnumerable<Products>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imgUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imgUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


@{
    ViewData["Title"] = "המוצרים שלנו";
}

@model List<Products>
<h1>@ViewData["Title"]</h1>

<p>אז מה בא לנו היום?</p>

<div class="container">
    <div class="row">

        <div class="col">
            <div class="list-group">
                @foreach (var cat in ViewBag.catagories)
                {
                <asp:Button  type="button" class="list-group-item list-group-item-action " onclick="Button_Click">@cat.catagorieName</asp:Button>
                }
                </div>
        </div>
        <div>

            <table>
                <tr>
                    @foreach (var product in Model)
                    {
                        <td>
                            <div class="card" style="height: 25rem; width: 18rem; ">
                                <img style="height: 40%;" src=@product.imgUrl class="card-img-top card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@product.productName</h5>
                                    <p class="card-text">@product.description</p>
                                    <p>@product.price</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary">הכנס להזמנה</a>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="productList">
</div>

